.App {
  margin: auto;
}

.header-name {
  color: blue;
  text-align: center;
}
.bookmark-form {
  background-color: lightgreen;

  text-align: center;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid blue;
  border-radius: 5px;
  box-sizing: border-box;
}

.items {
  text-align: center;
  background-color: cornflowerblue;
}

.myList {
  border-style: solid;
  border-bottom: 10px;
  border-bottom-color: rgb(207, 173, 173);
  width: 100%;
}

.form-input-time {
  width: 30%;
}

.form-input-url {
  width: 70%;
}

.form-input-desc {
  width: 50%;
}

.description {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 100;
  color: crimson;
}
